.card__text_level_elementary {
    scrollbar-color: #63BD4C #E9E9E9;
    scrollbar-width: thin;
}

.card__text_level_elementary::-webkit-scrollbar {
    width: 15px;
}

.card__text_level_elementary::-webkit-scrollbar-track {
    background: #E9E9E9;
    border-radius: 15px;
}


.card__text_level_elementary::-webkit-scrollbar-thumb {
    background-color: #63BD4C;
    border-radius: 15px;
    padding-right: 30px;
    border: 3px solid #E9E9E9;
}