.card_type_with-btn {
    display: -ms-grid;
    display: grid;
    grid-template-areas: 'kit kit kit'
        '. title title'
        '. article btn'
        '. price btn';
    -ms-grid-columns: .4fr 1.8fr 2fr;
    grid-template-columns: .4fr 1.8fr 2fr;
    -ms-grid-rows: 240px auto;
    grid-template-rows: 240px auto;
    justify-items: start;
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    -o-transition: transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear, -webkit-transform .3s linear;
}

.card_type_with-btn:hover {
    -webkit-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
}

@media (max-width: 550px) {
    .card_type_with-btn {
        -ms-grid-columns: 15px 115px auto;
        grid-template-columns: 15px 115px auto;
        -ms-grid-rows: 180px auto;
        grid-template-rows: 180px auto;
    }
}