.card__img {
    grid-area: kit;
    height: 220px;
    width: 280px;
    -ms-grid-column-align: end;
    justify-self: end;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 10px;
}

@media (max-width: 550px) {
    .card__img {
        height: 140px;
        width: 200px;
    }
}