.main__navbar {
    margin: 40px 0 0 0;
    padding: 0;
    z-index: 5;
    height: min-content;
    display: grid;
    align-items: end;
    row-gap: 30px;
    grid-template-areas: "dobot preliminary ...          ..."
        "...   elementary  basic        ..."
        "...   ...         professional research"
        "...   ...         ...          aero";
}

@media (max-width: 1100px) {
    .main__navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 30px -50px;
    }
}

@media (max-width: 880px) {
    .main__navbar {
        margin-left: -30px;
    }
}

@media (max-width: 740px) {
    .main__navbar {
        max-width: 350px;
    }
}