.event-content__item {
  transition: background-color .3s linear;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 300px;
}

.event-content__item_type_promo {
  margin-right: 40px;
  transition: transform .3s linear;
}

.event-content__item_type_about {
  margin: 0;
  height: 80%;
  text-transform: none;
  font-size: 20px;
  font-weight: normal;
  transition: background-color .3s linear;
}

.event-content__logo {
  max-width: 75%;
  max-height: 150px;
  align-self: flex-start;
}

.event-content__title {
  color: var(--technolab-blue);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  margin: 20px 0;
  text-align: justify;
}

.event-content__date {
  margin: 0;
}

@media (max-width: 1100px) {

  .event-content__logo {
    max-height: 150px;
    align-self: flex-start;
  }

  .event-content__title {
    text-align: right;
  }
}

@media (max-width: 900px) {

  .event-content__logo {
    width: 250px;
  }

  .event-content__item {
    height: 350px;
    font-size: 18px;
    width: 50%;
  }

  .event-content__item_type_promo {
    margin-right: 20px;
  }

  .event-content__item_type_about {
    width: auto;
  }
}

@media (max-width: 750px) {

  .event-content__item {
    height: 400px;
  }
}

@media (max-width: 550px) {

  .event-content__logo {
    width: 150px;
  }

  .event-content__item {
    height: auto;
    width: 100%;
  }

  .event-content__item_type_about {
    margin-top: 10px;
  }

}