.link__triangle {
    background-image: url('../../../images/link/link-triangle.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 8px 0 0;
    width: 20px;
    height: 30px;
}

@media (max-width: 1060px) {
    .link__triangle {
        width: 20px;
        height: 30px;
    }
}

@media (max-width: 500px) {
    .link__triangle {
        display: none;
    }
}