.section {
    display: flex;
    margin-bottom: 50px;
}


@media (max-width: 1100px) {
    .section {
        margin-bottom: 10px;
        align-items: center;
        flex-direction: column;
    }
}