.card__article {
    grid-area: article;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
    -ms-grid-row-align: center;
    align-self: center;
    color: #3d3d3d;
}

@media (max-width: 550px) {
    .card__article {
        font-size: 12px;
    }
}