:root {
  --technolab-blue: #099ad7;
  --grey: #3d3d3d;
  --dark-grey: #030303;
  --aero-color: #BE312A;
  --basic-color: #509ADB;
  --elementary-color: #63BD4C;
  --preliminary-color: #D8B13C;
  --professional-color: #3776C5;
  --research-color: #A85B9F;
  --machines-color: #C63332;
  --tile-background: rgba(241, 240, 240, .65);
  --header-background: rgba(241, 240, 240, .9);
  --scrollbar-color: #E9E9E9;
  --banner-navbar-height-big: 140px;
  --banner-navbar-height-medium: 120px;
  --banner-navbar-height-small: 100px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

html {
  scroll-behavior: smooth
}

.rotation {
  animation: rotation linear infinite 60s;
}

.background {
  background-color: #d5d4d4;
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Myriad Pro', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: flex-start;
  max-width: 1280px;
  width: 75%;
  margin-top: 130px;
  box-sizing: border-box;
  position: relative;
  z-index: 20;
}

.hidden {
  display: none;
}

.text {
  text-align: justify;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.text_uppercase {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.link {
  color: var(--grey);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  transition: color .3s linear;
}

.link:hover {
  color: var(--technolab-blue)
}

/* Выделение текста цветом модуля */

.highlighted-text {
  color: var(--technolab-blue)
}

.highlighted-text_level_aero {
  color: var(--aero-color)
}

.highlighted-text_level_basic {
  color: var(--basic-color)
}

.highlighted-text_level_elementary {
  color: var(--elementary-color)
}

.highlighted-text_level_preliminary {
  color: var(--preliminary-color)
}

.highlighted-text_level_professional {
  color: var(--professional-color)
}

.highlighted-text_level_research {
  color: var(--research-color)
}

.highlighted-text_level_machines {
  color: var(--machines-color)
}

@media (max-width: 1200px) {
  .section {
    margin-top: 160px;
  }
}

@media (max-width: 1050px) {
  .section {
    width: 90%;
    margin-top: 140px;
  }
}

@media (max-width: 850px) {

  .text {
    font-size: 17px;
  }

  .link {
    font-size: 16px;
  }

}