.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  z-index: 3;
  align-items: center;
}

.main__banner {
  background-image: url(../../images/main/main-banner.png);
  padding-top: 0;
  height: 100vh;
  width: 100%;
  background-position: center top;
  background-size: auto calc(100% - var(--banner-navbar-height-big));
  background-repeat: no-repeat;
  background-color: var(--technolab-blue);
  box-shadow: rgba(185, 183, 183, .6) 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.main__title {
  color: var(--technolab-blue);
  font-weight: bold;
  font-size: 32px;
  line-height: 28px;
  margin: 0 0 15px;
  padding: 0;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.main__link {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: lighter;
  text-transform: none;
  font-size: 20px;
}

.main__link:hover {
  color: #3d3d3d;
}

.main__navbar {
  margin: 0;
  padding: 0;
  height: var(--banner-navbar-height-big);
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  align-items: center;
  gap: 140px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  list-style: none;
}

.main__navbar * {
  height: 100%;
}

.main__info {
  margin: 0;
  padding: 100px 0;
  display: grid;
  grid-template-areas: 'tile-center tile-center'
    'tile-top list'
    'tile-bot list'
    'formula formula';
  grid-template-columns: 40% auto;
  gap: 25px;
}

.main__tile-center {
  grid-area: tile-center;
}

.main__tile-top {
  grid-area: tile-top;
}

.main__tile-bot {
  grid-area: tile-bot;
}

.main__list {
  grid-area: list;
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  height: 100%;
}

.main__board-img {
  width: 100%;
  height: auto;
  grid-area: formula;
  border-radius: 30px;
  box-shadow: rgba(55, 118, 197, .1) 0 5px 10px;
}

@media (max-width: 1050px) {

  .main__title {
    font-size: 28px;
  }

  .main__info {
    padding: 120px 0 80px;
    grid-template-areas: 'tile-center tile-bot'
      'tile-top tile-top'
      'list list'
      'formula formula';
    grid-template-columns: 45% auto;
    gap: 20px;
    scroll-behavior: smooth;
  }

  .main__list {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .main__navbar {
    gap: 100px;
  }

}

@media (max-width: 800px) {

  .main__title {
    font-size: 24px;
  }

  .main__info {
    grid-template-areas: 'tile-center'
      'tile-top'
      'tile-bot'
      'list'
      'formula';
    grid-template-columns: 100%;
  }
}

@media (max-width: 700px) {

  .main__link {
    font-size: 18px;
  }

  .main__list {
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, 1fr);
  }

  .main__banner {
    background-size: auto calc(100% - var(--banner-navbar-height-medium));
  }

  .main__navbar {
    gap: 70px;
    grid-template-columns: repeat(auto-fit, 80px);
    height: var(--banner-navbar-height-medium);
  }
}

@media (max-width: 550px) {

  .main__title {
    font-size: 18px;
    padding: 15px;
  }

  .main__navbar {
    gap: 40px;
    grid-template-columns: repeat(auto-fit, 60px);
    height: var(--banner-navbar-height-small);
  }


  .main__banner {
    background-size: auto calc(100% - var(--banner-navbar-height-small));
  }

}