.card__btn-text_type_rotate {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    padding-top: 15px;
    width: 150px;
}

@media (max-width: 550px) {
    .card__btn-text_type_rotate {
        width: 120px;
        padding-top: 15px;
    }
}