.tile-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tile-link__text {
  text-align: justify;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.tile-link__icon {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  transition: all .3s linear;
}

.tile-link__icon_level_aero {
  background-image: url(../../images/icons/icon-aero-grey.svg);
}

.tile-link__icon_level_basic {
  background-image: url(../../images/icons/icon-basic-grey.svg);
}

.tile-link__icon_level_elementary {
  background-image: url(../../images/icons/icon-elementary-grey.svg);
}

.tile-link__icon_level_preliminary {
  background-image: url(../../images/icons/icon-preliminary-grey.svg);
}

.tile-link__icon_level_professional {
  background-image: url(../../images/icons/icon-professional-grey.svg);
}

.tile-link__icon_level_research {
  background-image: url(../../images/icons/icon-research-grey.svg);
}

.tile-link:hover .tile-link__icon_level_aero {
  background-image: url(../../images/icons/icon-aero.svg);
}

.tile-link:hover .tile-link__icon_level_basic {
  background-image: url(../../images/icons/icon-basic.svg);
}

.tile-link:hover .tile-link__icon_level_elementary {
  background-image: url(../../images/icons/icon-elementary.svg);
}

.tile-link:hover .tile-link__icon_level_preliminary {
  background-image: url(../../images/icons/icon-preliminary.svg);
}

.tile-link:hover .tile-link__icon_level_professional {
  background-image: url(../../images/icons/icon-professional.svg);
}

.tile-link:hover .tile-link__icon_level_research {
  background-image: url(../../images/icons/icon-research.svg);
}


@media (max-width: 1050px) {

  .tile-link__text {
    font-size: 16px;
  }


  .tile-link__icon {
    width: 40px;
    height: 40px;
  }

}

@media (max-width: 500px) {

  .tile-link__text {
    font-size: 15px;
  }


  .tile-link__icon {
    width: 40px;
    height: 40px;
  }

}