.card__back-btn__triangle {
    grid-area: back;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../../../../images/cards/back-btn.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 40px auto;
    border: none;
    height: 100px;
    width: 150px;
    justify-self: end;
    cursor: pointer;
    position: relative;
    left: -45px;
    top: 30px;
    z-index: 6;
    transition: transform .25s linear;
}

.card__back-btn__triangle:hover {
    transform: scale(1.05, 1.05);
}

@media (max-width: 550px) {
    .card__back-btn__triangle {
        background-size: 30px auto;
        height: 80px;
        left: -38px;
    }
}

@media (max-width: 420px) {
    .card__back-btn__triangle {
        width: 0;
        background-image: none;
    }
}