.downloads__link {
    text-decoration: none;
    -ms-grid-column-align: start;
    justify-self: start;
    padding: 0;
    margin: 0;
    height: 180px;
    -webkit-transition: opacity .25s linear, -webkit-transform .25s linear;
    transition: opacity .25s linear, -webkit-transform .25s linear;
    -o-transition: transform .25s linear, opacity .25s linear;
    transition: transform .25s linear, opacity .25s linear;
    transition: transform .25s linear, opacity .25s linear, -webkit-transform .25s linear;
    opacity: .8;
}

.downloads__link:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    opacity: 1;
}