.link-button {
  padding: 10px 40px;
  border-radius: 22px;
  text-decoration: none;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tile-background);
  color: var(--technolab-blue);
  transition: all .3s linear;
}

.link-button_color_blue {
  background-color: var(--technolab-blue);
  color: #fff;
}

.link-button_color_preliminary {
  background-color: var(--preliminary-color);
  color: #fff;
}

.link-button_color_aero {
  background-color: var(--aero-color);
  color: #fff;
}

.link-button_color_basic {
  background-color: var(--basic-color);
  color: #fff;
}

.link-button_color_elementary {
  background-color: var(--elementary-color);
  color: #fff;
}

.link-button_color_professional {
  background-color: var(--professional-color);
  color: #fff;
}

.link-button_color_research {
  background-color: var(--research-color);
  color: #fff;
}

.link-button_color_machines {
  background-color: var(--machines-color);
  color: #fff;
}

.link-button_color_grey {
  background-color: var(--grey-background-color);
  color: #fff;
}

.link-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}


@media (max-width: 550px) {
  .link-button {
    padding: 10px 15px;
  }
}