.partners {
    z-index: 5;
    flex-direction: column;
    align-self: center;
    margin: 0;
    width: 80%;
}

.partners__text-box {
    border-radius: 30px;
    text-transform: uppercase;
    padding: 20px;
    margin-left: 100px;
}

.partners__text {
    font-size: 16px;
    text-align: justify;
}

.partners__title {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.partners__item {
    z-index: 5;
    background-image: url(../../images/cards/default-background.png);
    background-repeat: no-repeat;
    background-size: 160px;
    background-color: rgba(233, 233, 233, .3);
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: auto min-content;
    column-gap: 40px;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    transition: color .25s linear;
    transition: background-color .25s linear, transform .25s linear;
}

.partners__item:hover {
    color: #000;
    transform: scale(1.02, 1.02);
}

@media (max-width: 900px) {
    .partners__item {
        background-size: 150px;
        background-position: -10px 0;
        column-gap: 0;
    }

    .partners__text-box {
        margin-left: 60px;
        padding: 20px;
    }
}


@media (max-width: 750px) {
    .partners {
        margin: 0;
    }

    .partners__item {
        background-image: none;
        padding: 0 20px 20px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .partners__text-box {
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

    .partners__text {
        text-align: center;
        font-size: 14px;
    }

    .partners__title {
        text-align: center;
        font-size: 16px;
    }
}

.partners__link {
    text-decoration: none;
    -ms-grid-column-align: start;
    justify-self: start;
    padding: 0;
    margin: 0;
    height: 180px;
    -webkit-transition: opacity .25s linear, -webkit-transform .25s linear;
    transition: opacity .25s linear, -webkit-transform .25s linear;
    -o-transition: transform .25s linear, opacity .25s linear;
    transition: transform .25s linear, opacity .25s linear;
    transition: transform .25s linear, opacity .25s linear, -webkit-transform .25s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__link:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    opacity: 1;
}


@media (max-width: 750px) {
    .partners__link {
        height: auto;
    }
}

.partners__btn-text {
    font-size: 18px;
    width: 150px;
    margin: 0;
    padding: 30px 0 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 900px) {
    .partners__btn-text {
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    .partners__btn-text {
        padding: 0;
    }
}

.partners__btn {
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../../images/download-btn.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 160px;
    height: 170px;
    padding: 0;
    margin: 0 40px 0 0;
    -ms-grid-column-align: start;
    justify-self: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

@media (max-width: 900px) {
    .partners__btn {
        width: 150px;
        height: 160px;
        margin-right: 10px;
    }
}

@media (max-width: 750px) {
    .partners__btn {
        width: min-content;
        height: auto;
        padding: 0;
        align-self: end;
        background-image: none;
        background-color: #099AD7;
        border-radius: 8px;
    }
}