.main__link_level_preliminary {
    background-image: url(../../../../images/link/preliminary-inactive.png);
    grid-area: preliminary;
}

.main__link_level_preliminary:hover {
    background-image: url(../../../../images/link/preliminary-active.png);
}

@media (max-width: 880px) {
    .main__link_level_preliminary {
        background-image: url(../../../../images/link/preliminary-active.png);
    }
}