.main__link_level_research {
    background-image: url(../../../../images/research-inactive.png);
    grid-area: research;
}

.main__link_level_research:hover {
    background-image: url(../../../../images/research-active.png);
}

@media (max-width: 880px) {
    .main__link_level_research {
        background-image: url(../../../../images/research-active.png);
    }
}