.main__link_level_professional {
    background-image: url(../../../../images/link/professional-inactive.png);
    grid-area: professional;
}

.main__link_level_professional:hover {
    background-image: url(../../../../images/link/professional-active.png);
}

@media (max-width: 880px) {
    .main__link_level_professional {
        background-image: url(../../../../images/link/professional-active.png);
    }

}