.main__link_level_basic {
    background-image: url(../../../../images/link/basic-inactive.png);
    grid-area: basic;
}

.main__link_level_basic:hover {
    background-image: url(../../../../images/link/basic-active.png);
}

@media (max-width: 880px) {
    .main__link_level_basic {
        background-image: url(../../../../images/link/basic-active.png);
    }
}