.main__link_level_elementary {
    background-image: url(../../../../images/link/elementary-inactive.png);
    grid-area: elementary;
}

.main__link_level_elementary:hover {
    background-image: url(../../../../images/link/elementary-active.png);
}

@media (max-width: 880px) {
    .main__link_level_elementary {
        background-image: url(../../../../images/link/elementary-active.png);
    }
}