.main__link_level_aero {
    background-image: url(../../../../images/aero-inactive.png);
    grid-area: aero;
}

.main__link_level_aero:hover {
    background-image: url(../../../../images/aero-active.png);
}

@media (max-width: 880px) {
    .main__link_level_aero {
        background-image: url(../../../../images/aero-active.png);
    }
}